<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />

<!-- Required meta tags -->
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<!-- BOOTSTRAP -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous"></link>

<!-- Required meta tags -->
<link rel="stylesheet" th:href="@{/css/style.css}"></link>

<title>MicroServices</title>
</head>
<body>
	<h1 class="text-center" style="margin-top:20px; margin-bottom: 30px">Welcome to MicroServices Area</h1>
	<h2 th:text="${titulo}"></h2>
	<div class="container  border border-dark"
		style="background: white">
		<h4 style="margin-top: 10px ; margin-left: 10px" >Mongo</h4>
		<br />
		<div class="row  w-100 p-3">
			<div class="col-2 offset-1">
					<a href="" style="text-decoration: none" class="btn btn-primary " >Get Client By Name</a>
			</div>
			<div class="col-2">
					<a href="http://localhost:3001/microservices/getallclients" class="btn btn-primary btn-block " style="text-decoration: none" >Get Clients</a>
			</div>
			<div class="col-2">
					<a href="http://localhost:3001/microservices/showInsertClientView"  style="text-decoration: none"  class="btn btn-primary btn-block">Insert Client</a>
			</div>
			<div class="col-2">
					<a href=""  style="text-decoration: none"  class="btn btn-primary btn-block">Update Client</a>
			</div>
			<div class="col-2">
					<a href=""  style="text-decoration: none"   class="btn btn-primary btn-block">Delete Client</a>
			</div>
		</div>
	</div>
	<br />
	<div class="container  border border-dark"
		style="background: white">
		<h4 style="margin-top: 10px ; margin-left: 10px" >H2 DataBase JPA-HIBERNATE</h4>
		<br />
		<div class="row  w-100 p-3">
			<div class="col-2 offset-1">
					<a href="" style="text-decoration: none" class="btn btn-danger " >Get Client By Id</a>
			</div>
			<div class="col-2">
					<a href="" style="text-decoration: none"  class="btn btn-danger  btn-block" >Get Clients</a>
			</div>
			<div class="col-2">
					<a href=""  style="text-decoration: none" class="btn btn-danger  btn-block">Insert Client</a>
			</div>
			<div class="col-2">
					<a href=""  style="text-decoration: none" class="btn btn-danger  btn-block">Update Client</a>
			</div>
			<div class="col-2">
					<a href=""  style="text-decoration: none" class="btn btn-danger  btn-block">Delete Client</a>
			</div>
		</div>
	</div>


</body>
</html>